@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
  box-sizing: border-box;
}

html,
body {
  background-image: url('https://images7.alphacoders.com/116/1161810.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile {
  width: 1080px;
  left: 50%;
  float: left;
  position: relative;
  margin: 50px 0px 50px 0px;
  margin-left: -540px;
  cursor: pointer;
}

.profile .imageHolder {
  float: left;
  width: 30%;
  position: relative;
  left: 5%;
}

.profile .imageHolder .profilePic {
  width: 100%;
  float: left;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 31px -1px #474747;
  -moz-box-shadow: 0px 0px 31px -1px #474747;
  box-shadow: 0px 0px 31px -1px #474747;
}

.profile .imageHolder:after {
  content: '';
  /* background-image: url('https://pbs.twimg.com/profile_images/1127269161393168385/7qq52_9I_400x400.jpg'); */
  pointer-events: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  min-height: 30vh;
  display: block;
  top: 4vw;
  opacity: 0;
  float: left;
  position: absolute;
  z-index: 1000;
  left: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  animation: bounce 0.5s linear infinite;
  animation-play-state: paused;
}

.infoHolder_title {
  color: rgb(247, 194, 133);
}

.infoHolder_content {
  color: #ffffff;
}

a {
  text-decoration: none;
}
p a {
  color: black;
}
.Social_content p {
  display: inline;
  margin-left: 1%;
}

#Paris div {
  float: left;
  margin: 100px;
}
.QRcode {
  width: 25%;
  height: auto;
}
.profile h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #d10606;
  position: absolute;
  width: 100%;
  padding: 0px 0px 0px 32%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15vw;
  letter-spacing: 1vw;
  z-index: 10000;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.profile h1:after {
  /* content: ''; */
  float: left;
  position: absolute;
  left: 50%;
  bottom: -10vw;
  width: 5px;
  height: 10vw;
  background-color: #d10606;
}

.profile:hover h1 {
  transform: translateY(30vw);
}

.profile:hover .profilePic {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.profile:hover .imageHolder:after {
  opacity: 1;
  animation-play-state: running;
}

.profile .infoHolder {
  width: 60%;
  float: right;
  right: 1%;
  position: absolute;
  overflow-x: hidden;
}

.profile .infoHolder .wrapper {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  transform: translateX(105%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.profile:hover .infoHolder .wrapper {
  transform: translateX(0%);
}

.profile .infoHolder h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  margin-top: 0px;
  width: 100%;
}

.profile .infoHolder p {
  font-family: 'Roboto Slab', serif;
  margin-top: 0px;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  h1 {
    font-size: 120pt !important;
    letter-spacing: 0pt !important;
  }

  h1:after {
    bottom: -120px !important;
    height: 120px !important;
  }

  .profile:hover h1 {
    transform: translateY(250px);
  }
}

@media screen and (max-width: 1080px) {
  .profile {
    width: 100%;
    left: 0%;
    margin-left: 0px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* //menu */
.menu {
  margin-bottom: 10%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab li {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  list-style-type: none;
}

/* Change background color of buttons on hover */
.tab li:hover {
  background-color: #ddd;
}

/* Create an active/current tab-menu class */
.tab li.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  background-color: #ddd;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content.active {
  display: block;
}

/* //??? */
.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;
  background-image: url('img/cactus.png');
  background-size: 20px 40px;
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
